<%- include('partials/header') %>

    <h1>Home</h1>
    <p>
        <%= homeStartingContent %>
    </p>

    <% posts.forEach(post=> { %>
        <div class="container posts">
            <h3>
                <%= post.title %>
            </h3>
            <p>
                <%= post.text.substring(0, 100) + "..." %>
                    <a href="/posts/<%= post.title %>">Read More ></a>
            </p>
        </div>
        <% });%>

            <%- include('partials/footer') %>