<%- include('partials/header') %>

    <h1>Home</h1>
    <p>
        <%= homeStartingContent %>
    </p>

    <% posts.forEach(post=> { %>
        <div class="container">
            <h3>
                <%= post.title %>
            </h3>
            <p>
                <%= post.text %>
            </p>
        </div>
        <% });%>

            <%- include('partials/footer') %>