<%- include('partials/header') %>

    <h1>
        <%= post.title %>
    </h1>
    <span>
        <%= post.date %>
    </span>
    <span>
        <%= post.time %>
    </span>
    <p>
        <%= post.text %>
    </p>

    <%- include('partials/footer') %>